
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
} 

*, html {
    scroll-behavior: smooth !important;
}

body{
    background-color: #EAE6E5;
    margin: 0;
}

#nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content:center;
    background-color: transparent;
    height: 50px;
    align-items: center;
    font-size: 1.5rem;  
}

.nav-bar-list {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    font-family: 'Bebas Neue', sans-serif;
}

.nav-bar-list a {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #12130F;
}

.nav-link {
    text-decoration: none;
    color: #EAE6E5;
}

.nav-link:hover {
    border-bottom: 2px solid #12130F;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item {
   text-align: center;
}

.big-text {
    font-size: 8rem;
}

#profile-container {
    flex-direction: row;
    gap: 20px;
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
}

#profile-items{
    margin-top: 50px;
    max-width: 500px;

    
}

#profile-items h1 {
    margin-bottom: 0;
}

#hero-container {
    padding: 250px;
   
}

.hidden {
    opacity: 0;
    transition: .1s;
}



.span-style { 
    color: #5B9279;
}

.main-text-style {
    font-family: 'Bebas Neue', sans-serif;
}

.secondary-text-style {
    font-family: 'Bellota Text', sans-serif;
    font-weight: bold;

}

.underline {
    border-bottom: 5px solid #5b9279;
}

#title-text {
    font-size: 6rem;
}


#title-desc {
    font-size: 2em;
}

.fixed-size{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    justify-content: start;
}

#profile-pic {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 300px;
    height:300px;
    border-radius: 100%;
    object-fit: cover;
    
}

#contact-me {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin-top: 50px;
    width: 150px;
    height: 50px;
    background-color: #12130F;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#contact-me:hover {
    transform: translate(0, -4px);
    transition: .15s ease-in-out;
}

#contact-me:active {
    transform: translate(0, -6px);
    transition: .15s ease-in-out;
}

#project-container {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    height: 400px;
    background-color: #12130F;
    margin-top:  0;
    padding-top: 200px;
    padding-bottom: 500px ;
}

#shadow-box {
    background-image: url('/images/shadowbox.jpg');
    background-size: 100%;
}

#shadow-box:hover {
    background-image: url('/images/shadowbox.gif');
    background-size: 100%; 
}

#author-desc {
    padding-bottom:  50px;
}
.text-underline{
    border-bottom: 2px solid #12130F;
}

.project-box {
    width: 300px;
    height: 300px;
    border:5px solid #12130F;
    border-radius: 5px;
    cursor: pointer;
}

#projects-title-style{
    text-align: center;
    color: #EAE6E5;
}

.div-header {
    color: #12130F;
}

#projects-title {
    display: block;
    width:200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

#footer{
    font-family: 'Bellota Text', sans-serif;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #12130F;
    color: #FFFFFF;
}

.box-style {
 background-color: #12130F;
 padding: 20px 50px;
 border-radius: 3px;
 background-color: #5b9279;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
 margin-top: 200px;
}

.container-style {
    padding: 20px;
    background-color: #12130F;
}

@media (max-width: 800px) {
    
}


