
.flex-container {
    display: flex;   
    margin-top: 20%;
}

.flex-item {
    flex: 1;
    text-align: center;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 50%;
}

.nav-bar ul {
    list-style: none;
}


