*{
    margin: 0;
    
}

body{
    background-color: #EAE6E5;
    margin: 0;
}

#nav-bar {
    display: block;
    height: 100%;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item {
   text-align: center;
}

.big-text {
    font-size: 8rem;
}

#profile-items{
    margin-top: 50px;
}

#hero-container {
    padding: 400px;
   
}

.hidden {
    opacity: 0;
    transition: .1s;
}



.span-style { 
    color: #5B9279;
}

.main-text-style {
    font-family: 'Bebas Neue', sans-serif;
}

.secondary-text-style {
    font-family: 'Bellota Text', sans-serif;
}

.underline {
    border-bottom: 5px solid #FFFFFF;
}

#title-text {
    font-size:6rem;
}

#title-desc {
    font-size: 2em;
}

.fixed-size{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    justify-content: start;
}

#profile-pic {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 300px;
    height:300px;
    border-radius: 100%;
    object-fit: cover;
    border: 5px solid #EAE6E5;
}

#contact-me {
    font-family: 'Bellota Text', sans-serif;
    font-size: 1.2rem;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: #12130F;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

#contact-me:active {
    transform: translate(0, -2px);
    transition: .15s;
}

